@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    font-family: 'Barlow';
}

body
{
    background-color: #1f1f1f;
    color: #e1e1e1;

    min-height: 100vh;
    position: relative;
}

svg.fullscreen
{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; 
    min-width: 100vw; 
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

svg.animation-result
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; 
}

.pivot
{
    position: absolute; 
    width: 0; 
    height: 0;
}

.pivot.center
{
    left: 50%;
    top: 50%;
}

.pivot.left
{
    left: 0;
}

.pivot.right
{
    left: 100%;
}

button
{
    display: block;
    font-size: 16pt;
    color: white;
    border: none;
    outline: none;
    background-color: #1f1f1f;
    padding: 20px;
    margin: 20px;
}