@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*
{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body
{
    background-color: #1f1f1f;
    color: #e1e1e1;

    min-height: 100vh;
}

svg.fullscreen
{
    position: absolute;
    pointer-events: none; 
    width: 100vw; 
    height: 100vh;
}

.pivot
{
    position: absolute; 
    width: 0; 
    height: 0;
}

.pivot.center
{
    left: 50%;
    top: 50%;
}

.pivot.left
{
    left: 0;
}

.pivot.right
{
    left: 100%;
}